/* start header */

.cp_header{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding-top: 15px; */
}
.cp_container{
    display: flex;
}
.cp_header .cp_container{
    justify-content: center;
}

.cp_header-nav,.cp_header-icons{
    display: none;
}

.cp_header-logo-container{
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.cp_header-logo{
    max-height: 45px;
}
@media only screen and (min-width: 991px){
    .cp_header-nav,.cp_header-icons{
        display: flex;
        align-items: center;
        font-family: 'Lato', sans-serif;
        width: 40%;
    }
    .cp_header-logo-container{
        width: 20%;
        justify-content: center;
    }
    .cp_header-icons{
        justify-content: end;
    }
    
    .cp_header-list li{
        display: inline-block;
        margin-right: 30px;
    }
    
    .cp_header-icons ul li{
        display: inline-block;
    }
    .cp_header-list li a{
        color: var(--clr-cp-primary);
        font-family: 'Lato', sans-serif;
        font-size: 14px;
    }
    .cp_header-icons .cp_botton{
        padding: 10px 20px;
        border-radius: 4px;
        background-color: var(--clr-cp-primary);
        font-size: 14px;
        font-weight: 600;
        color:#fff ;
        margin-right: 20px;
    }
    .cp_botton i{
        font-size: 16px;
        padding-left: 5px;
    }
    .cp_socials li a{
        margin: 10px;
    }
    .cp_socials li a i{
        color:var(--clr-cp-primary) ;
        font-size: 19px;
    }
    .cp_header-list li a:hover,.cp_socials li a i:hover{
        color: var(--clr-primary);
    }
    .cp_botton:hover{
        background-color: var(--clr-primary);
    }
}



/* start container media queries */

@media only screen and (min-width: 768px){
    .cp_container{
        width: 750px;
    }
}
@media only screen and (min-width: 992px){
    .cp_container{
        width: 970px;
    }
}
@media only screen and (min-width: 1200px){
    .cp_container{
        width: 1170px;
    }
}
/* end container media queries */




.cp_banner{
    height: 420px;
    background-image: url("https://career.snapp.ir/img/slider/slider1.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.cp_overlay {
    background: rgba(54, 69, 108, 0.5);
    overflow: hidden;
    height: 100%;
   }