/*
color:#f2f5f8;
*/

.logo--images{
     width: 48px ;
     height: 48px ;
     margin-left: 4px;
     margin-right: 4px;

}
.main--need-logotype{
   font-size: 14px;
   text-align: center;
   margin-top: 4px;
   margin-bottom: 4px;
   font-family: IRANSans ;

}

body {
    background-color: #f2f5f8;
}

.main--need {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main--need--header {
    font-size: 18px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: bold;
    text-align: center;
    font-family: IRANSans;
}

.main--need--list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    transition: max-height 0.25s ease-in 0s;


}

.main--need--items {
    background-color: white;
    border: none;
    border-radius: 25%;
    padding: 8px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    max-width: 22vw;

}

@media only screen and (min-width : 840px) {}

@media only screen and (min-width : 1000px) {}

@media only screen and (min-width : 1440px) {}
