/*
color:#f2f5f8;
*/
.logo {
    margin: 0;
    padding: 0;
}

.logo--images {
    width: 48px;
    height: 48px;
    margin-left: 4px;
    margin-right: 4px;

}

.main--need-logotype {
    font-size: 13px;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: IRANSans;
    font-weight: bold;
    color: #404040;

}

body {
    background-color: #f2f5f8;
    direction: rtl;
}

.main--need {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main--need--header {
    color: #404040;
    font-size: 18px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: bold;
    text-align: center;
    font-family: IRANSans;
}

.main--need--list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    transition: max-height 0.25s ease-in 0s;


}

.main--need--items {
    background-color: white;
    border: none;
    border-radius: 25%;
    padding: 8px;
    margin: 16px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 24%;
    cursor: pointer;


}

.main--need-logo-moretype {
    display: none;
}

@media only screen and (min-width : 840px) {
    .main--need-logo-describes {
        padding-bottom: 25px;


    }

    .main--need--items {
        border-radius: 18%;

    }

    .main--need--header {
        font-size: 36px;
        line-height: 52px;
        font-weight: 700;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .main--need-logo-moretype {
        display: flex;
        color: rgb(179, 176, 176);
        font-size: 11.5px;
        text-align: center;
    }
}

@media only screen and (min-width : 1000px) {
    .main--need--items {
        direction: rtl;
        display: flex;
        flex-direction: row-reverse;
        border-radius: 18%;
        align-items: center;
        justify-content: flex-end;
        padding-top: 8px;
        padding-bottom: 8px;
        max-width: 321px;
        margin: 16px;
    }

    .main--need-logotype {
        text-align: right;
        font-size: 14px;
        line-height: 1.7;

        margin: 0;


    }

    .main--need-logo-moretype {
        text-align: right;
        line-height: 1.7;
        font-size: 12px;
    }

    .logo--images {
        width: 62px;
        height: 62px;
    }

    .logo {
        margin-left: 8px;
        margin-right: 8px;
    }

    .main--need-logo-describes {
        padding-top: 20px;
        padding-bottom: 20px;

    }
}

@media only screen and (min-width : 1440px) {
    .main--need {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 40px;
    }

    .main--need--items {
        width: 29%;
        max-width: 321px;
        border-radius: 25px;
        padding-left: 0%;
        padding-right: 0%;
    }

    .main--need-logo-describes {
        padding-top: 5px;
        padding-bottom: 5px;

    }

}