/* Start menu */

.mp-header-container {
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
    padding: 0 16px;
}

.mp-top-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
}

.mp-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mp-nav-menu {
    display: flex;
    color: #3f3f3f;
    gap: 10px;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    top: 64px;
    right: -100%;
    max-width: 500px;
    width: 100%;
    height: 100%;
    padding-right: 16px;
    line-height: 45px;
    transition: 0.2s;
    background-color: #ffffff;
}

.mp-nav-menu.active {
    right: 0;
}

.mp-nav-menu a {
    font-size: 17px;
    white-space: nowrap;
}

.mp-hamburger {
    display: block;
    cursor: pointer;
}

.mp-bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 4px auto;
    background-color: black;
    border-radius: 20%;
}

.mp-hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.mp-hamburger.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.mp-hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* end menu */


/* start hero */

.mp-hero-intro {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mp-hero-intro-image {
    background-image: url("../src/img/intro_mobile.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 40vh;
}

.mp-hero-intro-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--clr-primary);
    color: var( --clr-secondary);
    font-family: var(--ff-title);
    font-size: 20px;
    padding: 20px;
}

.mp-form {
    display: none;
}

.mp-enter-web-app {
    display: none;
}

.mp-download-app {
    border-color: var(--clr-secondary);
    background-color: var(--clr-secondary);
    /* border-radius: 10%; */
    border-style: solid;
    border-width: 2px;
    text-align: center;
}


/* end hero */


@media only screen and (min-width: 600px){
	/*Tablet [601px -> 990px]*/
    .mp-nav-menu {
        width: 70%;
    }
}

@media only screen and (min-width: 991px){
    /*Desktop [601px -> 991px]*/

    /* start menu */

    .mp-header-container {
        padding: 0 5%;  
    }

    .mp-top-nav {  
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        height: 96px;
        min-height: 96px;
    }
   
    .mp-nav-menu {
        flex-direction: row;
        align-items: center;
        gap: 30px;
        position: relative; 
        top: 0;
        right: 0;
        transition: none;
        background-color: #ffffff00;
    }

    .mp-hamburger {
        display: none;
        cursor: pointer;
    }    
    
    /* end menu */

    /* start hero */

    .mp-hero-intro {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .mp-hero-intro-image {
        background-image: url("../src/img/intro_desktop.jpg");
        background-position: center;
        object-fit: cover;
        width: 50%
    }

    .mp-hero-intro-text {
        width: 50%;
    }

    .mp-form {
        display: flex;
    }

    .mp-download-app {
        display: none;
    }

    .mp-enter-web-app {
        display: flex;
        border-color: var(--clr-secondary);
        background-color: var(--clr-primary);
        /* border-radius: 10%; */
        border-style: solid;
        border-width: 2px;
        text-align: center;
        padding: 7px;
        width: 50%;
    
    }

    .mp-enter-web-app a {
        color: var(--clr-secondary);
    }
    
    /* end hero */
}
