@font-face {
    font-family: IRsans;
    font-style: normal;
    font-weight: 500;
    src: url('../src/fonts/irsans.ttf');
}


* {
    font-family: IRsans;
    vertical-align: baseline;
}

a {
    cursor: pointer;
    color: #494949;
    /* color: var(--tertiary1); */
}

/* add to root */

/* main styles ------------------------------------------------------------------- */

.mp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
}


/* Start menu ------------------------------------------------------------------- */

.mp-header-container {
    width: 100%;
    background-color: #FFFFFF;
    padding: 0 16px;
    position: sticky;
    top: 0; /* required */
}

.mp-top-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
}

.mp-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mp-nav-menu {
    display: flex;
    color: #3f3f3f;
    gap: 10px;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    top: 64px;
    right: -100%;
    max-width: 500px;
    width: 100%;
    height: 100%;
    padding-right: 16px;
    line-height: 45px;
    transition: 0.2s;
    background-color: #ffffff;
}

.mp-nav-menu.active {
    right: 0;
}

.mp-nav-menu a {
    font-size: 17px;
    white-space: nowrap;
}

.child-item.active {
    color: var(--clr-primary);
}

.mp-hamburger {
    display: block;
    cursor: pointer;
}

.mp-bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 4px auto;
    background-color: black;
    border-radius: 20%;
    transition-duration: 0.2s;
}

.mp-hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.mp-hamburger.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.mp-hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* end menu -------------------------------------------------------------------*/


/* start hero ---------------------------------------------------------------- */

.mp-hero-intro {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mp-hero-intro-image {
    background-image: url("../src/img/intro_mobile.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 40vh;
}

.mp-hero-intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--clr-primary);
    color: var( --clr-secondary);
    padding: 20px 24px;
}

.mp-hero-intro-text  h1{
    font-size: 30px;
    line-height: 48px;
}

.mp-hero-intro-text  p{
    font-size: 15px;
    line-height: 30px;
    padding: 16px 0;
}

.mp-form {
    display: none;
}

.mp-enter-web-app {
    display: none;
}

.mp-hero-input {
    display: none;
}

.mp-download-app {
    border-color: var(--clr-secondary);
    background-color: var(--clr-secondary);
    padding: 13px 0;
    color: black;
    font-size: 15px;
}

/* end hero ------------------------------------------------------------------- */

/* start download app links --------------------------------------------------- */

.download-app-links {
    display: none;
}

.mp-seprator-line {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: #E8E8E8;
    width: 90%;
}

.mp-download-app-links {
    display: none;
}

.mp-app-links-mobileview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mp-open-list-button {
    display: flex;
    width: 30px;
    color: #3f3f3f;
}

.mp-d-app-links-title-container {
    display: block;
}

.mp-d-app-links-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
    color: var(--clr-primary);
}

.mp-d-app-links-list {
    display: none;
}

.mp-d-app-links-list.open {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: height 0.3s ease-out; 
}

.mp-d-app-links-list.open a { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
}

.mp-d-app-links-list.open img {
    margin-left: 5px;
}

/* end download app links ----------------------------------------------------- */

/* start digital sign up section ---------------------------------------------- */

.mp-digitalSignUp {
    background-color: #F2F5F8;
    padding: 30px 15%;
}

.mp-signUp_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.mp-signUp_container h2{
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.mp-signUp_para {
    text-align: center;
    padding: 16px 0 0 0;
}

.mp-signUpProc_video {
    width: 100%;
    border-radius: 10px;
}

.mp-signUp_btn {
    display: flex;
    text-align: center;
    border-color: var(--clr-secondary);
    background-color: var(--clr-primary);
    padding: 12px;
    margin: 40px;
    white-space: nowrap;
}
.mp-signUp_btn a {
    color: var(--clr-secondary);
}

.mp-signUpProc_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 70px;
}

#mp-procMainContainer {
    background-color: var(--clr-secondary); 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap;  
    min-height: 22vh;
    border-radius: 20px; 
    padding: 20px 20px 20px 30px;
}

#mp-procText_h3 {
    font-size: 15px;
    padding: 8px 0;
}

#mp-procText_para {
    font-size: 13px;
    line-height: 22px;
    padding: 5px 0;
    color: #3f3f3f;
    text-align: justify;
}

#mp-procImage {
    align-self: center;
    width: 35%;
}

/* end digital sign up section ------------------------------------------------ */

/* start super app section ---------------------------------------------------- */

.mp-superApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white; 
    
}

.mp-superApp-food {
    padding: 30px 15%;
}

.mp-superApp-food img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.mp-superApp-intro {
    display: flex;
    flex-direction: row;
}

.mp-superApp-image{
    width: 100%;
    
}


/* end super app section ------------------------------------------------------- */



@media only screen and (min-width: 600px) and (max-width: 900px){
	/*Tablet [601px -> 990px]*/
    .mp-digitalSignUp {
        padding: 30px 10%;
    }
}

@media only screen and (min-width: 991px){
    /*Desktop [601px -> 991px]*/

    /* start menu -------------------------------------------------------------- */

    .mp-header-container {
        padding: 0 5%;  
    }

    .mp-top-nav {  
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        height: 96px;
        min-height: 96px;
    }
   
    .mp-nav-menu {
        flex-direction: row;
        align-items: center;
        gap: 30px;
        position: relative; 
        top: 0;
        right: 0;
        transition: none;
        background-color: #ffffff00;
    }

    .mp-hamburger {
        display: none;
        cursor: pointer;
    }    
    
    .child-item {
        display: none;
    }

    /* end menu -------------------------------------------------------------- */

    /* start hero ------------------------------------------------------------ */

    .mp-hero-intro {
        display: flex;
        flex-direction: row-reverse;
        min-height: 48vh;
    }
    
    .mp-hero-intro-image {
        background-image: url("../src/img/intro_desktop.jpg");
        background-position: center;
        object-fit: cover;
        width: 47%;
    }

    .mp-hero-intro-text {
        width: 53%;
        padding: 40px 13% 40px 40px;
    }

    .mp-hero-intro-text h1{
        font-size: 35px;
        line-height: 52px;
        margin-bottom: 16px;
    }

    .mp-hero-intro-text p{
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 16px;
    }

    .mp-form {
        display: flex;
    }

    .mp-download-app {
        display: none;
    }

    .mp-enter-web-app {
        display: flex;
        color: var(--clr-secondary);
        border-color: var(--clr-secondary);
        background-color: var(--clr-primary);
        padding: 12px;
        width: 50%;
        white-space: nowrap;
    }
    
    .mp-hero-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }

    .mp-hero-input span{
        font-size: 10px;
        color: red;
        padding-top: 10px;
    }

    .mp-input-container {
        width: 50%;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: var(--clr-secondary);
        background-color: var(--clr-primary);
    }
    
    .mp-sendLink_btn {
        color: var(--clr-primary);
        background-color: var(--clr-secondary);
        width: 20%;
        margin-right: 10px;
        padding: 10px 20px;
        font-size: 14px;
        white-space: nowrap;
    }
    
    /* end hero ------------------------------------------------------------ */

    /* start download app links -------------------------------------------- */

    .mp-download-app-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 30vh;
        margin: 0 11%;
    }

    .mp-download-app-links img {
        width: 160px;
    }

    .mp-seprator-line {
        display: none;
    }

    .mp-app-links-mobileview-container {
        display: none;
    }
    /* end download app links --------------------------------------------------- */

    /* start digital sign up section -------------------------------------------- */

    .mp-signUpProc_container {
        flex-wrap: wrap;
        gap: 16px;    
    }

    #mp-procMainContainer {
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: calc(50% - 13px);
        margin-bottom: 20px;
    }

    #mp-procText {
        padding-right: 15px;
    }

    /* end digital sign up section ------------------------------------------------ */
}
