* {
    font-family: IRANSans;
}

a {
    cursor: pointer;
    color: #494949;
}

/*
--clr--btnLink : #00D16F
--clr--inputClean : #A3A3A3
--clr--lightGreen: #0BD375
/*

/* add to root */



/*  start main styles  */

body.hideScrollBar {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.mp-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
}

.mp-overlay.active {
    display: block;
}

.mp_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
}

.mp_link {

}

/*  end start main styles  */


/* ------------------------------------------------------------------------------------- */


/*  start main containers  */

.mp_img_container {

}

.mp_text_container {

}

.mp_link_container {

}

/*  end main containers  */


/* ------------------------------------------------------------------------------------- */


/*  start menu  */

/*  end menu  */


/*  start hero section  */

/*  end hero section  */


/*  start possibilities section  */

/*  end possibilities section  */


/*  start super app section  */

/*  end super app section  */


/*  start digital sign up section  */

/*  start digital sign up section  */


/*  start footer  */

/*  end footer  */