*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    
}
:root {  
    --clr-primary: #21AA58;
    --clr-secondary: #FFFFFF;
    --clr-tertiary: #F1F5F7;
    --clr-tertiary1: #3f3f3f;
    --ff-title: IRANSans, sans-serif;
    background-color: #21AA58;
   
  }
  a{
    color: #3f3f3f;
    text-decoration: none; 
  }